{% extends 'base.html' %}
{% block title %}
Game
{% endblock %}

{% block content %}
   <h1>Scorecard</h1>

   <form method="POST" class="form-register" style="color: cyan">
    <h3> Enter your hole number and score below:</h3>
    <div class="row">
        <div class="col">
            <label for="pname">Player Name:</label>
            <input
            type="text"
            class="form-control"
            id="pname"
            name="pname"
            placeholder="Enter Player Name"
            />
        </div>
        <div class="col">
            <label for="holenum">Hole Number:</label>
            <input
            type="number"
            class="form-control"
            id="holenum"
            name="holenum"
            placeholder="0-18"
            />
        </div>
        <div class="col">
            <label for="score">Score:</label>
            <input
            type="number"
            class="form-control"
            id="score"
            name="score"
            />
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-block btn-secondary">Enter Score</button>
   </form>

    <br>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Hole</th>
                <th scope="col">Score</th>
            </tr>
        </thead>

    <tbody>
            {% for i in players %}
            <tr>
                <td> {{ i.pname }} </td>
                <td> {{ i.holenum }} </td>
                <td> {{ i.score }} </td>
            </tr>
            {% endfor %}
    </tbody>

    </table>

{% endblock %}