{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
  <div class="container">

      <h1> Welcome to Golf Score Tracker</h1>
      <h5> About: </h5>
      <p> This app allows players to come together and set up a session which they all can join in order to track their scores across the course. 
        Simply set-up a session, select the number of holes your group will be playing and get everyone else to join the session using the password that you set. 
        Once set-up you can input your scores on each hole and see the everyone elses on a live leaderboard including what they got on each hole.</p>

  </div>
{% endblock %}