{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
  <div class="container">

      <h1> Welcome to Golf Score Tracker</h1>
      <br>
      <h5> About: </h5>
      <p> This app allows players to come together and set up a scorecard which they can all join to track their scores across the course. 
        Once set-up a user can input their scores on each hole and see other users on a live leaderboard including what they got on each hole.</p>
      <br>
  </div>
  <div class="container">
  <img src="https://images.pond5.com/cinematic-male-golfer-sunset-slow-footage-095206990_iconl.jpeg" class="rounded mx-auto d-block" alt="Golf ball going into hole">
  </div>
  <br>
  <div class="container">
    <h5>How to use:</h5>
    <br>
    <h6>Host a game</h6>
    <p>Go to the "Setup a new game" page and enter your desired name, the number of holes the group intends to play and the password you want to set for the game, 
      other players can then search for your name and enter the password in order to start tracking their scores.</p>
    <h6>Join a game</h6>
    <p>Go to the "Join a game" page enter the hosts name, your name for the scorecard and the session password and see scores from around the course.</p>
  </div>
{% endblock %}