{% extends 'base.html' %}
{% block title %}
Set-up
{% endblock %}

{% block content %}
    <div class="container">
        <h1> Set-up a game</h1>
        <br>
        <form method="POST" class="form-register" style="color: yellowgreen">
        <h3> Fill out below and start hosting the scorecards and leaderboard</h3>
        <div class="form-group">
        <label for="pname">Player Name:</label>
        <input
        type="pname"
        class="form-control"
        id="text"
        name="pname"
        placeholder="Enter Host Name"
        />
        </div>
        <div class="form-group">
            <label for="numholes">Number of holes:</label>
            <input
            type="number"
            class="form-control"
            id="numholes"
            name="numholes"
            placeholder=18
            />
        </div>
        <div class="form-group">
            <label for="spass">Session Password:</label>
            <input
            type="password"
            class="form-control"
            id="spass"
            name="spass"
            placeholder="Set password"
            />
        </div>
        <button type="submit" class="btn btn-block btn-primary">Start Game</button>
        </form>
    </div>
{% endblock %}

